@using AlWarraq.Models
@model List<AlWarraq.Models.Book>
@{
    ViewBag.Title = "Home Page";
    var categories = ViewBag.Categorys as List<Category>;
}

<section id="billboard">

    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <button class="prev slick-arrow">
                    <i class="icon icon-arrow-left"></i>
                </button>

                <div class="main-slider pattern-overlay">
                    @foreach (var book in Model)
                    {
                        <div class="slider-item">
                            <div class="banner-content">
                                <h2 class="banner-title">@book.Title</h2>
                                <p>
                                    @book.Description
                                </p>
                                <div class="btn-wrap">
                                    <a href="#" class="btn btn-outline-accent btn-accent-arrow">
                                        Read More<i class="icon icon-ns-arrow-right"></i>
                                    </a>
                                </div>
                            </div><!--banner-content-->
                            <img src="@Url.Content(book.ImageUrl)" alt="banner" class="banner-image" style="width:30%">
                        </div><!--slider-item-->
                    }
                </div><!--slider-->

                <button class="next slick-arrow">
                    <i class="icon icon-arrow-right"></i>
                </button>

            </div>
        </div>
    </div>

</section>

<section id="client-holder" data-aos="fade-up">
    <div class="container">
        <div class="row">
            <div class="inner-content">
                <div class="logo-wrap">
                    <div class="grid">
                        <a href="#"><img src="~/assets/images/client-image1.png" alt="client"></a>
                        <a href="#"><img src="~/assets/images/client-image2.png" alt="client"></a>
                        <a href="#"><img src="~/assets/images/client-image3.png" alt="client"></a>
                        <a href="#"><img src="~/assets/images/client-image4.png" alt="client"></a>
                        <a href="#"><img src="~/assets/images/client-image5.png" alt="client"></a>
                    </div>
                </div><!--image-holder-->
            </div>
        </div>
    </div>
</section>

<section id="featured-books" class="py-5 my-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <div class="section-header align-center">
                    <div class="title">
                        <span>Some quality items</span>
                    </div>
                    <h2 class="section-title">Featured Books</h2>
                </div>

                <div class="product-list" data-aos="fade-up">
                    <div class="row">
                        @for (var i = 0; i < 4; i++)
                        {
                            <div class="col-md-3">
                                <div class="product-item">
                                    <figure class="product-style">
                                        <img src="@Url.Content(Model[i].ImageUrl)" alt="Books" class="product-item">
                                        <button type="button" class="add-to-cart" data-id="@Model[i].BookId" data-product-tile="add-to-cart">
                                            Add to
                                            Cart
                                        </button>
                                    </figure>
                                    <figcaption>
                                        <h3>@Model[i].Title</h3>
                                        <span>@Model[i].Author</span>
                                        <div class="item-price">$ @Model[i].Price</div>
                                    </figcaption>
                                </div>
                            </div>
                        }
                    </div><!--ft-books-slider-->
                </div><!--grid-->


            </div><!--inner-content-->
        </div>

        <div class="row">
            <div class="col-md-12">

                <div class="btn-wrap align-right">
                    <a href="@Url.Action("Index", "Books")" class="btn-accent-arrow">
                        View all products <i class="icon icon-ns-arrow-right"></i>
                    </a>
                </div>

            </div>
        </div>
    </div>
</section>

<section id="best-selling" class="leaf-pattern-overlay">
    <div class="corner-pattern-overlay"></div>
    <div class="container">
        <div class="row justify-content-center">

            <div class="col-md-8">

                <div class="row">

                    <div class="col-md-6">
                        <figure class="products-thumb">
                            <img src="@Url.Content(@Model[0].ImageUrl)" alt="book" class="single-image">
                        </figure>
                    </div>

                    <div class="col-md-6">
                        <div class="product-entry">
                            <h2 class="section-title divider">Best Selling Book</h2>

                            <div class="products-content">
                                <div class="author-name">By @Model[0].Author</div>
                                <h3 class="item-title">@Model[0].Title</h3>
                                <p>
                                    @Model[0].Description
                                </p>
                                <div class="item-price">$ @Model[0].Price</div>
                                <div class="btn-wrap">
                                    <a href="#" class="btn-accent-arrow">
                                        shop it now <i class="icon icon-ns-arrow-right"></i>
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
                <!-- / row -->

            </div>

        </div>
    </div>
</section>

<section id="popular-books" class="bookshelf py-5 my-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <div class="section-header align-center">
                    <div class="title">
                        <span>Some quality items</span>
                    </div>
                    <h2 class="section-title">Popular Books</h2>
                </div>

                <ul class="tabs">
                    <li data-tab-target="#all-genre" class="active tab">All Genre</li>
                    @foreach (var category in categories)
                    {
                        <a href="@Url.Action("Index", "Books")?categoryId=@category.CategoryId">
                        <li class="tab">@category.Name</li></a>
                    }
                </ul>

                <div class="tab-content">
                    <div id="all-genre" data-tab-content class="active">
                        <div class="row">

                            @for (var i = 0; i < 4; i++)
                            {
                                <div class="col-md-3">
                                    <div class="product-item">
                                        <figure class="product-style">
                                            <img src="@Model[i].ImageUrl" alt="Books" class="product-item">
                                            <button type="button" class="add-to-cart" data-product-tile="add-to-cart">
                                                Add to
                                                Cart
                                            </button>
                                        </figure>
                                        <figcaption>
                                            <h3>@Model[i].Title</h3>
                                            <span>@Model[i].Author</span>
                                            <div class="item-price">$ @Model[i].Price</div>
                                        </figcaption>
                                    </div>
                                </div>
                            }
                        </div>
                        <div class="row">

                            @for (var i = 4; i < 8; i++)
                            {
                                <div class="col-md-3">
                                    <div class="product-item">
                                        <figure class="product-style">
                                            <img src="@Model[i].ImageUrl" alt="Books" class="product-item">
                                            <button type="button" class="add-to-cart" data-product-tile="add-to-cart">
                                                Add to
                                                Cart
                                            </button>
                                        </figure>
                                        <figcaption>
                                            <h3>@Model[i].Title</h3>
                                            <span>@Model[i].Author</span>
                                            <div class="item-price">$ @Model[i].Price</div>
                                        </figcaption>
                                    </div>
                                </div>
                            }


                        </div>
                    </div>
                </div>
            </div><!--inner-tabs-->
        </div>
    </div>
</section>

<section id="quotation" class="align-center pb-5 mb-5">
    <div class="inner-content">
        <h2 class="section-title divider">Quote of the day</h2>
        <blockquote data-aos="fade-up">
            <q>
                “The more that you read, the more things you will know. The more that you learn, the more places
                you’ll go.”
            </q>
            <div class="author-name">Dr. Seuss</div>
        </blockquote>
    </div>
</section>

<div aria-live="polite" aria-atomic="true" style="position: relative; min-height: 200px;">
    <div id="cart-toast" class="toast" style="position: absolute; top: 0; right: 0;" data-delay="3000">
        <div class="toast-header">
            <strong class="mr-auto">Cart Notification</strong>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="toast-body">
            Item added to cart successfully.
        </div>
    </div>
</div>
@if (ViewBag.isAuthenticated)
{
    <script>
    document.addEventListener("DOMContentLoaded", function() {
        var buttons = document.querySelectorAll('.add-to-cart');

        buttons.forEach(function(button) {
            button.addEventListener('click', function() {
                var productId = this.getAttribute('data-id');


                var xhr = new XMLHttpRequest();
                xhr.open('POST', '@Url.Action("AddToCart", "Cart")', true);
                xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');

                xhr.onreadystatechange = function() {
                    if (xhr.readyState === XMLHttpRequest.DONE) {
                        if (xhr.status === 200) {
                            var response = JSON.parse(xhr.responseText);
                            if (response.success) {
                                Toastify({
                                    text: "Item has been added to the cart",
                                    duration: 3000
                                }).showToast();
                            } else {
                                alert("There was an error adding the item to the cart.");
                            }
                        } else {
                            alert("There was an error with the request.");
                        }
                    }
                };

                xhr.send('bookId=' + encodeURIComponent(productId));
            });
        });
    });
    </script>
}
else
{
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var buttons = document.querySelectorAll(".add-to-cart");

            buttons.forEach(function (button) {
                button.addEventListener("click", function () {
                    window.location.href = "@Url.Action("Login", "Account")"
                });
            });
        });
    </script>
}